@import "tailwindcss";

@theme {
  --color-primary: #1976D2;
  --color-primary-dark: #1565C0;
  --color-secondary: #424242;
  --color-success: #4CAF50;
  --color-warning: #FF9800;
  --color-danger: #F44336;
  --color-info: #2196F3;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
